<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>ProjetADA</display-name>
	<description>Projet réalisé dans la cadre de l'unité d'enseignement Architecture des Applications en Master 2 Informatique Ingénierie du Logiciel et des Données</description>


    <!-- Déclaration de la servlet genérique JSF -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- URL traitées par cette servlet -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    

    <!-- Paramétrage du projet -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
        <!-- <param-value>Production</param-value> -->
    </context-param>
    
   
    <context-param>
    	<param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
    	<param-value>false</param-value>
	</context-param>

    <context-param>
		<param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
		<param-value>8192</param-value>
	</context-param>
    
    
    <context-param>
        <param-name>org.apache.myfaces.annotation.SCAN_PACKAGES</param-name>
        <param-value>ProjetADA</param-value>
    </context-param>
    
	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

    <context-param>
       <param-name>primefaces.THEME</param-name>
       <param-value>admin</param-value>
    </context-param>
</web-app>